<!-- Begin Page Wrapper -->
<div class="page-wrapper">

  <!--Begin Left Menu-->
  <aside class="menu-left d-none d-lg-block">
    <div class="logo">
      <a routerLink="/products">
        <img src="assets/images/bolt-logo.png" alt="Bolt Ebikes" class="img-responsive">
      </a>
    </div>

    <app-product-category-menu></app-product-category-menu>

    
  </aside>
  <!-- End Left Menu -->

  <!-- Begin Page Container -->
  <div class="page-container">
    <!-- Begin Header -->
    <header class="header-desktop">
      <div class="section-content middle-padded">
        <div class="container-fluid">
          <div class="header-wrap">

            <app-search></app-search>

            <app-login-status></app-login-status>

            <app-cart-status></app-cart-status>

          </div>
          <div class="account-wrap"></div>
        </div>
      </div>
    </header>
    <!-- End Header -->

    <!-- Main Content -->

    <router-outlet></router-outlet>

  </div>
  <!-- End Page Container-->

</div>
<!-- End Page Wrapper -->